<!DOCTYPE html>
<html>
<head>
    <title>Solar Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
    <h1>☀ Solar Management System</h1>
</header>

<div class="container">

    <h1>Welcome</h1>

    <h3>BCA Final Year Project</h3>

    <p style="text-align:center;font-size:22px;margin-top:20px;">
        <b>Internal Guide</b>
    </p>

    <h2 style="text-align:center;">
        Prof. Hemangi Ma'am Panchal
    </h2>

    <br>

    <p style="text-align:center;font-size:22px;">
        Developed By
    </p>
<h2 style="text-align:center;">
    Mukesh - Roll No. 06<br>
    Kundan - Roll No. 44<br>
    Meet - Roll No. 30
</h2>
  

    <br><br>

    <div style="text-align:center;">
        <a href="/login">
            <button>Enter System</button>
        </a>
    </div>

</div>

</body>
</html>