<!DOCTYPE html>
<html>
<head>
    <title>Solar Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">

    <div class="header-left">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <h1>☀ Solar Management System</h1>
    </div>

    <div class="header-right">
        <h3 id="date"></h3>
        <h3 id="time"></h3>
    </div>

</header>

<div class="container home-card">

    <div class="home-left">

        <img src="{{ url_for('static', filename='images/about.jpg') }}"
             class="home-image">

    </div>

    <div class="home-right">

        <h1>Welcome</h1>

        <h3>BCA Final Year Project</h3>

        <hr>

        <h2>Internal Guide</h2>

        <h2 style="color:#0b7d3b;">
            Prof. Hemangi Ma'am Panchal
        </h2>

        <br>

        <h2>Developed By</h2>

        <div class="team">

            <div>
                <h3>👤 Mukesh</h3>
                <p>Roll No. 06</p>
            </div>

            <div>
                <h3>👤 Kundan</h3>
                <p>Roll No. 44</p>
            </div>

            <div>
                <h3>👤 Meet</h3>
                <p>Roll No. 30</p>
            </div>

        </div>

        <br><br>

        <a href="/login">
            <button class="enter-btn">
                🔓 Enter System
            </button>
        </a>

    </div>

</div>

<script>

function updateDateTime(){

    const now = new Date();

    document.getElementById("date").innerHTML =
        "📅 " + now.toLocaleDateString();

    document.getElementById("time").innerHTML =
        "🕒 " + now.toLocaleTimeString();

}

setInterval(updateDateTime,1000);

updateDateTime();

</script>

</body>
</html>