<!DOCTYPE html>
<html>
<head>
    <title>Solar Panel Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header class="header">
    <div class="header-left">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">
        <h1>🔋 Solar Panel Management</h1>
    </div>
</header>

<div class="container">

<h2>Add New Solar Panel</h2>

<form action="/add_panel" method="POST">

<label>Panel Name</label>
<input type="text" name="panel_name" required>

<label>Company</label>
<input type="text" name="company" required>

<label>Power (Watt)</label>
<input type="number" name="watt" required>

<label>Price (₹)</label>
<input type="number" name="price" required>

<label>Stock</label>
<input type="number" name="stock" required>

<br><br>

<button type="submit">💾 Save Panel</button>

</form>

<hr>

<h2>Solar Panel List</h2>

<table>

<tr>
<th>ID</th>
<th>Panel</th>
<th>Company</th>
<th>Watt</th>
<th>Price</th>
<th>Stock</th>
<th>Action</th>
</tr>

{% for p in panels %}

<tr>

<td>{{ p[0] }}</td>
<td>{{ p[1] }}</td>
<td>{{ p[2] }}</td>
<td>{{ p[3] }} W</td>
<td>₹ {{ p[4] }}</td>
<td>{{ p[5] }}</td>

<td>

<a href="/edit_panel/{{ p[0] }}">
<button type="button">✏ Edit</button>
</a>

<a href="/delete_panel/{{ p[0] }}">
<button type="button">🗑 Delete</button>
</a>

</td>

</tr>

{% endfor %}

</table>

<br><br>

<center>

<a href="/dashboard">
<button type="button">⬅ Back Dashboard</button>
</a>

</center>

</div>

</body>
</html>