<!DOCTYPE html>
<html>
<head>
<title>Reports</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
📊 Reports
</header>

<div class="container">

<h2>Project Report</h2>

<table>

<tr>
<th>Details</th>
<th>Total</th>
</tr>

<tr>
<td>Total Customers</td>
<td>10</td>
</tr>

<tr>
<td>Total Solar Panels</td>
<td>20</td>
</tr>

<tr>
<td>Total Installations</td>
<td>8</td>
</tr>

<tr>
<td>Total Bills</td>
<td>6</td>
</tr>

</table>

<br>

<a href="/dashboard">
<button>⬅ Back Dashboard</button>
</a>

</div>

</body>
</html>